#menu-transparent {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: none;
    background-color: transparent;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    font-size: 17px;
}

#menu-transparent .navbar-brand img {
    height: 114px !important;
    width: 251px !important;
    top: -24px !important;
    left: 72px !important;
    position: absolute !important;
    transition: 0.2s ease-in-out !important;
}

#menu-transparent.menu-color .navbar-brand img {
    height: 100px !important;
    width: 218px !important;
    top: -20px !important;
    left: 87px !important;
    position: absolute !important;
    transition: 0.2s ease-in-out !important;
}

#menu-transparent.menu-color {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.77);
}

#menu-transparent .navbar-nav .nav-item {
    margin-right: 1rem;
}

#menu-transparent .navbar-nav .nav-item:last-child {
    margin-right: 0;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus > #menu-transparent {
    color: #e4ff01;
    background-color: rgba(255, 255, 255, 0) !important;
}

.navbar-inverse .navbar-brand {
    color: #f7f7f7 !important;
}

header.masthead {
    padding-top: 17rem;
    padding-bottom: 12.5rem;
    text-align: center;
    color: #fff;
    background-image: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

header.masthead .masthead-subheading {
    font-size: 4.25rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;
    font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header.masthead .masthead-heading {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 768px) {
    header.masthead {
        padding-top: 22rem;
        padding-bottom: 13.5rem;
    }
    header.masthead .masthead-subheading {
        font-size: 4.25rem;
        font-style: italic;
        line-height: 2.25rem;
        margin-bottom: 2rem;
    }
    header.masthead .masthead-heading {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 2.5rem;
        margin-bottom: 4rem;
    }
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #fec810;
    border-color: #fec503;
    box-shadow: 0 0 0 0.2rem rgba(254, 216, 84, 0.5);
}

.btn-primary:hover {
    color: #fff;
    background-color: #fec810;
    border-color: #fec503;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 54, 0.25);
}

.btn:hover {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #e6b301;
    text-decoration: underline;
}

.btn-xl {
    padding: 2.25rem 4.5rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.8rem;
    font-weight: 700;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.btn-primary {
    color: #fff;
    background-color: #fed136 !important;
    border-color: #fed136 !important;
}