.footer {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../img/footer.jpg");
    background-size: cover;
}

.footer p {
    margin: 16px 0 16px;
    color: rgb(206,206,206);
}

.second2 {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.second2 a {
    color: rgb(206, 206, 206);
    text-decoration: none;
    letter-spacing: 20px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s;
}

.second2 a:hover {
    color: #fff;
    transition: 0.2s;
    text-shadow: 1px 1px 20px rgba(0,0,0,1);
    text-decoration: none;
}

.third {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.third h4 {
    font-size: 20px;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #fff;
    padding-bottom: 0.5em;
}

.third h4::after {
    content: '';
    background: #e4ff01;
    width: 12%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 44%;
}

.third li {
    list-style: none;
    padding-bottom: 15px;
}

.third a {
    color: rgb(206, 206, 206);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s;
}

.third a:hover {
    color: #fff;
    transition: 0.2s;
    text-shadow: 1px 1px 20px rgba(0,0,0,1);
}

.line {
    height:2px;
    background-color: rgb(206,206,206);
    width:100%;
}
